.cart {
    text-align: left;
    width: 90%;
    margin: auto;
}

.cart__details {
    width: fit-content;
    margin-top: 4rem;
}

.cart__products {
    margin-left: 6rem;
    font-size: 12px;
    border-bottom: 2px solid black;
}

.cart__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    margin: 2rem;
    margin-left: 0;
}

.cart__item__Details{
    display: flex;
    gap: 1rem;
}

.cart__item__update{
    display: flex;
    gap: 1rem;
}

.cart__item__quantity>button{
    margin: 0.5rem;
    font-weight: 800;
    font-size: 0.8rem;
    padding: 0.4rem 0.6rem;
}

.cart__item__deleteBtn{
    background-color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
    margin: 0.5rem;
    font-weight: 800;
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
}

.cart__details__total {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.cart__total {
    font-size: 1.3rem;
}